
  <div id="headerWrapper">
		<div id="bgImage"></div>
		<div id="logotext"></div>
		<div id="forBgImage"></div>
	  </div>

	  <div>

<div class="container mt-5 mb-5">
  <div class="text-center mt-4 mb-4">
    <h1 class="f-4"> Online Jewelry Shopping Website </h1>
    <p>Jewelry is an accessory that always lightens up a woman’s heart. Whether it’s made from real metal work or its aesthetic fashion jewellery, it breathes life into their wardrobe. Women have made jewelry a part of their daily wear routine as it accentuates its beauty and femininity. Tesoro.pk is the place for you where you can surely find and buy the most adorable pieces of jewellery online.</p>
  </div>
	  </div>